@model Domain.DomainModels.Product

<h2 class="text-center"> تعديل منتج</h2>
<div class="w-75 m-auto">
    <form asp-action="Edit" method="post">
        @Html.AntiForgeryToken()
        <input asp-for="Id"  hidden/>
        <input asp-for="UserId"  hidden/>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" type="text"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PurchasingPrice" class="control-label"></label>
            <input asp-for="PurchasingPrice" class="form-control" />
            <span asp-validation-for="PurchasingPrice" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Quentity" class="control-label"></label>
            <input asp-for="Quentity" class="form-control" type="number" />
            <span asp-validation-for="Quentity" class="text-danger"></span>
        </div>
        <div class="form-group m-1">
            <input type="submit" value="تعديل" class="btn btn-primary" />
        </div>
    </form>
</div>
<div class="ml-2">
    <a asp-action="Index" asp-controller="Products">الرجوع إلي المنتجات</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
